.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/

# Ignore all the .DS_Store files
.DS_Store

# Ignore byebug files
.byebug_history

# Ignore temporary files, including Rubycritic files
tmp

# Ignore the built gem that uploads to RubyGems.
*.gem

# Ignore master key for decrypting credentials and more.
/test/dummy/config/master.key
